<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/project-page-style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/sidebar-style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>




<body>
  <div class="layout">

    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>




    <main class="content">
      <p class="emphasized">{{ page.project_date }}</p>

      <div class="project-page">
        {{ content }}
      </div>
    </main>


    
  </div>
</body>
</html>